@import './variables';
@import './mixins';
@import './functions';

$padding: 20px;
$padding-primary: 30px;
$padding-main: 50px;
$primary: #3F6A86;
$primary-hover: #4A7A99;
$primary-active: #345E79;
$secondary: #fff;
$third-color: #DFE7EB;
$danger: #EE4222;
$danger-hover: #D13D21;
$danger-active: #B5331B;
$text-color: #333;
$text-secondary-color: #8CA6B7;
$text-third-color: #000;
$input-border: #DAE3E8;
$border-bg: #DCE5E8;
$border-bg-hover: rgba(63, 106, 134, 0.37);/*#b8c8d2*/
$disabled-bg: #EEF0F1;
$disabled-input-bg: #F3F3F3;
$text-primary-disabled: rgba(62, 85, 107, 0.4);
$form-item-border: rgba(63, 106, 134, 0.19); /*#dbe3e8*/

$navigation-bg: #3E556B;
$navigation-split-border: rgba(255, 255, 255, 0.4);

$box-shadow: rgba(48, 107, 145, 0.3);
$preview-bg: rgba(63, 106, 134, 0.6);

$border-radius: 8px;

@mixin right {
    margin-left: auto;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 160ms;
}
.fade-enter, .fade-leave-to x{
    opacity: 0;
}

@keyframes spin {
    0% { transform: rotateZ(-360deg) }
}

.spin {
    animation: spin 640ms linear infinite;
}

.pointer {
    cursor: pointer;
}